[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/csrichard
[access "refs/for/refs/*"]
	read = group user/csrichard
	push = group user/csrichard
	label-Code-Review = -2..+2 group user/csrichard
	label-Verified = -1..+1 group user/csrichard
	rebase = group user/csrichard
	removeReviewer = group user/csrichard
	submit = group user/csrichard
[access "refs/heads/*"]
	read = group user/csrichard
	create = group user/csrichard
	push = +force group user/csrichard
	pushMerge = group user/csrichard
[access "refs/tags/*"]
	push = group user/csrichard
	push = +force group user/csrichard
